.table {
    border: 1px solid #a2a0a0;
    font-size: 30px;
    color: #f6f6f6;
    border-collapse: collapse;
    background-color: rgba(111, 182, 182, 0.58);
    box-shadow: 1px 2px 5px #c2c1c1;
}

td {
    padding: 5px 20px;
    border-bottom: 1px solid #867c7c;
    border-right: 1px solid black;
    empty-cells: hide;

}

th {
    height: 30px;
    width: 200px;
    border-bottom: 1px solid black;
    font-weight: 600;
    color: #343136;
    padding: 8px 15px;
    background-color: rgba(229, 203, 203, 0.27);
}

